@import "../../variables.scss";
.mobile-nav {
  .hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 50px;
    z-index: 25;
    cursor: pointer;

    .burger,
    &::after,
    &::before {
      content: "";
      display: block;
      background-color: $text-color-light;
      width: 80%;
      height: 0.2em;
      margin-top: 0.5em;
      transition: 0.5s;
    }
  }

  .is-active {
    .burger {
      transform: rotate(225deg);
    }
    &::after {
      transform: rotate(-225deg);
      translate: 0 -0.7em;
    }
    &::before {
      height: 0;
      width: 0;
    }
  }

  .mobile-nav--items {
    background-color: $main-color;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    border-left: 0.1em solid $text-color-light;
    animation: fade 0.5s linear;


    a {
        opacity: 1;
      text-decoration: none;
      text-transform: uppercase;
      color: $text-color-light;
      cursor: pointer;
      margin-bottom: 1em;
      &:hover {
        font-weight: bold;
        scale: 1.5;
      }
    }
  }
}

@keyframes fade {
    0% { opacity: 0 }
    50% { opacity: 0.2 }
  }
