@import '../../variables.scss';

.header-nav {
    display: block;

    & a {
      padding: 0 2em;
      color: $text-color-light;
      font-weight: normal;
      font-size: medium;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        box-shadow: 0 0 1em 1em $text-color-light;
      }
    }
  }