@import "../variables.scss";

.body-conttainer {
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  background-color: $pink;

  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 20px;
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 2em;
    box-shadow: 0 0 1em 0.2em $secondary-color;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 1em 0.4em $main-color;
    }
    .project-card--image {
      width: 10em;
      aspect-ratio: 1;
    }
    .project-card--info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
