@import "../variables.scss";

.body-conttainer {
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  background-color: $pink;

  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 20px;
  min-height: 300px;
  .project-card {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    
    border-radius: 2em;
    box-shadow: 0 0 1em 0.2em $secondary-color;
    background-size: cover ;
    background-position: center ;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 1em 0.4em $main-color;
    }
   
    .project-card--info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 0 0 auto;
      width: 100%;
      border-end-start-radius: 1em;
      border-end-end-radius: 1em;
      background-color: $pink;
      & span{
        text-decoration: none;
      }
    }
  }
}
