@import "../variables.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: space-between;
  justify-content: space-between;
  background-color: $main-color;
  min-height: 4em;
  width: 100%;
  color: $text-color-light;
 
  .header-logo {

    display: flex;
    flex-direction: row;
    height: 100%;
    & img {
        background: transparent;
        max-height: 5em;
        aspect-ratio: 1;
      }
    
  }
  
}
