@import "../variables.scss";

.body-conttainer {
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  background-color: $pink;

  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 20px;
  min-height: 300px;
  height: 100%;
  .project-card {
    display: flex;
    height: 100%;
    min-height: 15em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 2em;
    box-shadow: 0 0 1em 0.2em $secondary-color;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 1em 0.4em $main-color;
    }

    .project-card--info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 0 0 auto;
      justify-content: space-evenly;
      width: 100%;
      min-height: 4em;
      border-end-start-radius: 1em;
      border-end-end-radius: 1em;
      background-color: $pink;
      & span {
        margin: 0.5em;
        text-transform: capitalize;
        font-size: 1em;
        font-weight: bolder;
        line-height: 1em;
        color: $main-color;
        text-decoration: none;
        & a{
          text-decoration: none;
        }
        &:last-child {
          font-size: small;
          color: black;
          font-weight: light;
        }
      }
   
    }
  }
}
